@import url('https://fonts.googleapis.com/css2?family=Bangers&family=DynaPuff:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
}

.caja {
    width: 65vmin;
    height: 70vmin;
    background-color: rgb(36, 54, 44);
    box-shadow: 0 0 20px rgb(36, 54, 44);
}

/* estilos para el logo */

#Logo {
    font-size: 2em;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from { transform: translateY(0); }
    to { transform: translateY(-10px); }
}


/* fin estilo para el logo */

.caja--puntos {
    display: none;
}

.caja--puntos.visible {
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(23, 181, 94);
    color: rgb(36, 54, 44);
    padding: 20px 30px;
    font-size: .6rem;
}

.play--board {
    background: rgb(0, 0, 0);
    background-position: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(20, 1fr);
    gap: 0;
}


.cabeza {
    width: 100%; 
    height: 100%;
    object-fit: contain;
    transform: scale(1.7);
}




.play--board .comida {
    background-image: url('img/manzana.png');
    background-size: 200%; 
    background-repeat: no-repeat; 
    background-position: center;
    border: none;
    box-shadow: none;

}


/* estilos para la vibora */


.play--board .cabeza,
.play--board .cuerpo,
.play--board .cola,
.play--board .giro {

    width: 100%; 
    height: 100%;
    border: none;
    box-shadow: none;

}


/* Giro para detectar los movimientos de la vibora */

.play--board .cabeza.up, .play--board .cuerpo.up, .play--board .cola.up {
    transform: rotate(-180deg);
  }
  
  .play--board .cabeza.down, .play--board .cuerpo.down, .play--board .cola.down {
    transform: rotate(0deg);
  }
  
  .play--board .cabeza.left, .play--board .cuerpo.left, .play--board .cola.left {
    transform: rotate(90deg);
  }
  
  .play--board .cabeza.right, .play--board .cuerpo.right, .play--board .cola.right {
    transform: rotate(-90deg);
  }


/* estilos para el menu */

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Press Start 2P', cursive; 
    color: white;
}

.menu button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    color: #ffffff;
    background-color: #00d552;
    font-family: 'Press Start 2P', cursive; 
    transition: background-color 0.2s;
    border-radius: 15px;
    border: none;
}

.menu button:hover {
    color: #ffffff;
    background-color: #02ff63;
    font-family: 'Press Start 2P', cursive; 
}

#settingsMenu {
    display: none;
}

#settingsMenu.visible {
display: block;
}

.startButton.hidden {
    display: none;
}

.settingsButton.hidden {
    display: none;
}

/* boton back */

#backButton {
    margin-top: 75px;
    padding: 0;
    width: 40px;
    height: 30px;
}

.difficulty-button {
    background-color: #af0000;
}

#settingsMenu {
    display: none;
}


#settingsMenu.visible {
    display: flex;
    flex-direction: column;

}

#settingsMenu.visible h3 {
    font-size: 12px;
}


.hidden {
    display: none;
}

.difficulty-button.active {
    border: 3px solid #ff0000;
    background-color: #02ff63;

}

